<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PM2 WebUI</title>
    <link rel="shortcut icon" type="image/jpg" href="/assets/images/app/favicon.png"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.7.1/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://res.oafimg.cn/-/b7fb1ed34f76439e/tabler.min.js"></script>
    <link rel="stylesheet" href="https://res.oafimg.cn/-/0264dcce4d7c4b30/tabler.min.css">
    <link href="/assets/css/prism.css" rel="stylesheet" />
</head>
<body>
    <header class="navbar navbar-expand-md navbar-light d-print-none">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
            <span class="navbar-toggler-icon"></span>
          </button>
          <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
            <a href=".">
              <img src="/assets/images/app/logo-dark.png" width="110" height="32" alt="PM2 WebUI Logo" class="navbar-brand-image">
            </a>
          </h1>
        </div>
    </header>
    <%- body %>
    <script src="/assets/js/main.js"></script>
</body>
</html>